<div class="auth-container">
    <img mat-card-image src="../../../../assets/logo.png" alt="logo" class="logo">
    <div class="auth-header">
        <h3>Sign up to Doctest</h3>
    </div>
    <mat-card>
        <mat-card-content class="card-content">
            <form [formGroup]="signupForm" (ngSubmit)="signup(signupForm)" class="form-container">
                <div class="fields-container">
                    <mat-form-field appearance="fill">
                        <mat-label>Enter your email</mat-label>
                        <input matInput placeholder="youremail@example.com" formControlName="email" required>
                        <mat-error *ngIf="signupForm.value.email!.invalid">{{getErrorMessage()}}</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="fill">
                        <mat-label>Enter your user name</mat-label>
                        <input matInput placeholder="BugHunter" formControlName="userName" required>
                        <mat-error *ngIf="signupForm.value.email!.invalid">{{getErrorMessage()}}</mat-error>
                    </mat-form-field>
        
                    <mat-form-field appearance="fill">
                      <mat-label>Enter your password</mat-label>
                      <input matInput formControlName="password" required>
                    </mat-form-field>

                    <mat-form-field appearance="fill">
                        <mat-label>Confirm your password</mat-label>
                        <input matInput formControlName="confirm" required>
                      </mat-form-field>
                </div>


                <button type="submit" mat-raised-button color="warn" class="login-button">Sign Up</button>
            </form>
        </mat-card-content>
    </mat-card>
</div>