@import "~@angular/material/prebuilt-themes/purple-green.css";
.invitation-container {
    display:flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    padding-top: 5%;
}

.form-fields-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}


