<div class="main-container">
  <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
          <mat-icon aria-hidden="false" aria-label="menu icon" fontIcon="menu"></mat-icon>
      </button>
    
    <!--menu -->
      <div class="menu-container">
        <img src='../../../../assets/logo.png' width="50px" alt="logo Image" class="logo-image">
        
        <button mat-button routerLink="./home">
          Home
        </button>
  
        <button mat-button [matMenuTriggerFor]="aboveMenu">
          Projects
        </button>
        <mat-menu #aboveMenu="matMenu" yPosition="above">
          <button mat-raised-button color="warn" (click)="openDialog()">New</button>
          <button mat-menu-item routerLink="./projects">View all</button>
        </mat-menu>
    
        <button mat-button [matMenuTriggerFor]="belowMenu">
          Teamspace
        </button>
        <mat-menu #belowMenu="matMenu" yPosition="below">

          <button mat-menu-item routerLink="./teamspace">Go to team space</button>
        </mat-menu>
        <!--<button mat-button [matMenuTriggerFor]="belowMenu" routerLink="./reports">
          Reports
        </button>-->
      </div>
      
      <div>
        <button mat-icon-button [matMenuTriggerFor]="menu" #menuTrigger class="notification-menu"><mat-icon  [matBadge]="notifications.length" matBadgePosition="after" matBadgeColor="warn"  [matBadgeHidden]="hidden" aria-hidden="false" aria-label="notifications icon" fontIcon="notifications"></mat-icon></button>
        <mat-menu #menu="matMenu">
          <mat-list role="list">
            <mat-list-item *ngFor="let notification of notifications" class="notification-item" role="listitem">
              <mat-card>
                <mat-card-content>
                  <p class="notification-message">{{notification.title}}: {{notification.body}}</p></mat-card-content>
              </mat-card>
              <mat-divider></mat-divider>
            </mat-list-item>
          </mat-list>
        </mat-menu>
        
        <button mat-icon-button [matMenuTriggerFor]="profileMenu"><mat-icon aria-hidden="false" aria-label="face icon" fontIcon="face"></mat-icon></button>
        <mat-menu #profileMenu="matMenu" yPosition="below" class="profile_menu">
          <p>{{userName}}</p>
          <button mat-menu-item>View profile</button>
          <mat-divider></mat-divider>
          <button mat-menu-item routerLink="/auth/login" routerLinkActive="active">
            <mat-icon aria-hidden="false" aria-label="logout icon" fontIcon="logout"></mat-icon>
          </button>
        </mat-menu>
      </div>
  </mat-toolbar>

  <div class="navigation-component-container">
    <mat-sidenav-container class="sidenav-container">
      <mat-sidenav #drawer class="sidenav" fixedInViewport
          [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
          [mode]="(isHandset$ | async) ? 'over' : 'side'"
          [opened]="(isHandset$ | async) === false">
        <mat-toolbar class="toolbar"    *ngIf="project.id!=null">
          <div class="project-image-container">
            <img mat-card-image src={{imgSrc}} alt="project image" class="project-image">
          </div>
          <span class="toolbar-text"    *ngIf="project.id!=null">
            {{project.name}}
          </span>
        </mat-toolbar>

        <mat-nav-list>
          <div>
            <mat-list-item [disabled]="!isProjectaSelected()" [routerLink]="'./project/' + this.project.id + '/suites'">Suites</mat-list-item>
            <mat-list-item [disabled]="!isProjectaSelected()" [routerLink]="'./project/' + this.project.id + '/tests'">Test Cases</mat-list-item>
            <mat-list-item [disabled]="!isProjectaSelected()" [routerLink]="'./project/' + this.project.id + '/bugs'">Bugs</mat-list-item>
            <mat-list-item class="terms" (click)="openTerms()">Terms and Conditions</mat-list-item>
          </div>
        </mat-nav-list>
      </mat-sidenav>
      <mat-sidenav-content>
        <!-- Add Content Here -->
        <div class="grid-container">
          <router-outlet (projectChanged)="addProject($event)"></router-outlet>
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
</div>