<mat-sidenav-container class="sidenav-container" >
  <mat-sidenav #drawer class="bugside" *ngIf="this.bug.id !== null || this.bug.id !== undefined" fixedInViewport 
  [mode]="'over'" 
  [opened]="false" 
  [position]="'end'"
  [fixedInViewport]="true"
  [fixedTopGap]="69">

    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-subtitle><mat-icon>bug_report</mat-icon> {{this.bug.due! | date }} </mat-card-subtitle>
        <mat-card-title><h2>{{this.bug.name}}</h2></mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <form [formGroup]="bugForm" class="fields-container">
          <div class="row">
            <mat-form-field appearance="fill" class="field">
              <textarea matInput cdkTextareaAutosize
              cdkAutosizeMinRows="1"
              cdkAutosizeMaxRows="5"
              class="textarea"
              formControlName="description" 
              [readonly]="true" 
              [value]="this.bug.description" >
              </textarea>
            </mat-form-field>
          </div>
    
          <mat-divider></mat-divider>
    
    
          <div class="row">
            <mat-form-field appearance="fill" class="field" >
              <mat-label>{{this.bug.priority!}}</mat-label>
              <mat-select formControlName="priority" name="priority" [value]="this.bug.priority!">
                <mat-option *ngFor="let p of priorities" [value]="p.name">
                  {{ p.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
      
            <mat-form-field appearance="fill" class="field">
              <mat-label>{{currentUserId | userName | async}}</mat-label>
              <mat-select formControlName="assigned" name="assigned" [value]="currentUserId | userName | async">
                <mat-option *ngFor="let u of users" [value]="u.id">
                  {{u.userName}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
    
          <div class="chips">
          <i>current status </i> <br>
              <mat-chip-option color="accent" selected>{{this.bug.status}}</mat-chip-option>
          </div>

          <div class="chips">
            <mat-chip-listbox #chipList aria-label="Status selection" formControlName="status">
              <mat-chip-option *ngFor="let s of statuses" selected (click)="updateBug(s.name)">{{s.name}}</mat-chip-option>
            </mat-chip-listbox>
          </div>

        </form>
      <mat-divider></mat-divider>

        </mat-card-content>
        <mat-card-footer>
          
        <mat-card>
          <mat-card-header>
                <mat-card-title>Comments</mat-card-title>
          </mat-card-header>
          <mat-card-content>
                <form [formGroup]="commentForm" class="commentsContainer">
                  <mat-form-field appearance="fill" class="field">
                    <textarea matInput class="textarea" formControlName="comment"></textarea>
                  </mat-form-field>
                  <button mat-raised-button #button color="primary" (click)="addComment(bugForm.value.comment!)">Add</button>
                </form>
      
                <mat-list id="mat-list-comments">
                  <mat-list-item class="li" *ngFor="let comment of this.comments">
                    <mat-card class="comment">
                      <mat-card-header>
                        <div mat-card-avatar> <mat-icon>account_circle</mat-icon></div>
                        <mat-card-subtitle>{{comment.date_created! | date}}</mat-card-subtitle>
                        <mat-card-title>
                         
                          {{this.toString(comment.user_id!) | userName | async}}</mat-card-title>
                      </mat-card-header>
                      <mat-card-content class="comment">
                        <div [innerHtml]="comment.comment! | safeHtml"></div>
                      </mat-card-content>
                      <mat-divider></mat-divider>
                    </mat-card>
                  </mat-list-item>
                </mat-list>
          </mat-card-content>
        </mat-card>
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </mat-card-footer>
    </mat-card>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="grid-container">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event)" placeholder="Filter">
      </mat-form-field>
      <table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8">
          <ng-container matColumnDef="name">
            <th mat-header-cell mat-sort-header *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>
      
          <ng-container matColumnDef="description">
            <th mat-header-cell mat-sort-header  *matHeaderCellDef> Description </th>
            <td mat-cell *matCellDef="let element"> {{element.description}} </td>
          </ng-container>
        
          <ng-container matColumnDef="status">
            <th mat-header-cell mat-sort-header *matHeaderCellDef>  Status </th>
            <td mat-cell *matCellDef="let element">{{element.status}} </td>
          </ng-container>
      
          <ng-container matColumnDef="priority">
              <th mat-header-cell mat-sort-header  *matHeaderCellDef>  Priority </th>
              <td mat-cell *matCellDef="let element"> {{element.priority}} </td>
          </ng-container>
      
          <ng-component matColumnDef="severity">
              <th mat-header-cell mat-sort-header  *matHeaderCellDef>  Severity </th>
              <td mat-cell *matCellDef="let element"> {{element.severity}} </td>
          </ng-component>
      
          <ng-component matColumnDef="type">
              <th mat-header-cell mat-sort-header *matHeaderCellDef>Type</th>
              <td mat-cell *matCellDef="let element"> {{element.type}} </td>
          </ng-component>
      
          <ng-component matColumnDef="assigned">
              <th mat-header-cell mat-sort-header *matHeaderCellDef>Assigned</th>
              <td mat-cell *matCellDef="let element"> {{element.assigned}} </td>
          </ng-component>
      
          <ng-component matColumnDef="due">
              <th mat-header-cell mat-sort-header *matHeaderCellDef>  Due </th>
              <td mat-cell *matCellDef="let element"> {{element.due}} </td>
          </ng-component>
      
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>Action</th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button color="warm" (click)="viewBug(element.id)">
                <mat-icon>pageview</mat-icon>
              </button>
            </td>
          </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5,10,20]" showFirstLastButtons></mat-paginator>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>  
  
  
