@import "~@angular/material/prebuilt-themes/purple-green.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.test-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}

.bug-card {
    width: 365px;
}

.test-card {
    flex: 0 1 auto;
    align-items: stretch;
    width: 300px;
}