<div class="create-container">
    <div class="create-header">
        <h3>Create new project</h3>
    </div>
    <mat-card>
        <mat-card-content class="card-content">
            <div appearance="fill" class="photo-container">
                <div class="selected-image-container" *ngIf="projectImg?.url">
                    <img [src]="projectImg!.url" alt="Selected Image" class="selected-image">
                  </div>
                <input id="photoInput" #csvInput hidden="true" type="file" (change)="onFileSelected($event)">
                <button mat-flat-button color="primary" (click)="csvInput.click()">Choose File</button>
            </div>

            <form [formGroup]="projectForm" (ngSubmit)="create(projectForm)" class="form-container">
                <div class="fields-container">
                    <mat-form-field appearance="fill">
                        <mat-label>Project name</mat-label>
                        <input matInput placeholder="ExampleProject" formControlName="name" required>
                        <mat-error *ngIf="projectForm.value.name!.invalid">{{getErrorMessage()}}</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="fill">
                        <mat-label>Description</mat-label>
                        <textarea matInput placeholder="Example project that we are going to test" formControlName="description" required></textarea>
                        <mat-error *ngIf="projectForm.value.description!.invalid">{{getErrorMessage()}}</mat-error>
                    </mat-form-field>
                </div>
                <button type="submit" mat-raised-button color="warn" class="create-button">create</button>
            </form>
        </mat-card-content>
    </mat-card>
</div>